/* Fonts - font-family: 'Roboto Condensed', sans-serif;
font-family: 'Square Peg', cursive;*/

body{
  background-color:#9b937452;
  
}

#content-wrap {
  padding-bottom: 4rem; 
}


/*weather start*/


.weather {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100px; 
}

.weather-content {
  height: 6rem;
  display: flex;
  justify-content:space-around;
}

.weather-feature{
  background-color: #FFFDFA;
}

#weather-text {
  font-family: 'Roboto Condensed', sans-serif;
  color: #908660;
  display: block;
  padding: 1rem;
  font-size: 0.9rem;
}

#location {
  padding-bottom: 0.5rem;
  font-family: 'Square Peg', cursive;
  font-size: 1.7rem;
  
}

#weather-symbol {
  display: flex;
  padding-left: 4rem;
  padding-right: 2rem;
}

/*weather end*/

/*carousel start*/

.pic-carousel {
  display: flex;
  position: relative;
  justify-content: center;
}

.carousel-container{
  margin: auto;
  height: 260px;
  padding: 1rem;
  
}


.images{
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.right-arrow{

  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 2rem;
  color: #DAB692;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


.left-arrow{
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 2rem;
  color: #DAB692;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

/*carousel end*/


/* Welcome Message Start */

h3 {
  font-family: 'Square Peg', cursive;
  font-size: 2rem;
}

.welcomeMessage {
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #908660;
  background-color: #FFFDFA;
  margin: 2rem;
  padding: 2rem;
}

/* Welcome Message End */


@media screen and (min-width: 60em){
  
  .Home {
    display: flex;
  }

  .weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    height: 6.9rem; 
  }

  .welcomeMessage {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FFFDFA;
    color: #908660;
    max-width: 40rem;
    margin: 2rem;
    padding: 2rem;
  }

  .images{
    max-width: 600px;
    top: 100px;
    left:20px;  
  }
}