/* Fonts - font-family: 'Roboto Condensed', sans-serif;
font-family: 'Square Peg', cursive;*/

/* general styling start */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color:#9b937452;
}


h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  text-align:center;
  color: #908660;

  
}

#page-container {
  position: relative;

}
/* general styling end */

/*nav start*/
.nav-bar{
  min-height: 60px;
  border-top: 2px solid #FFFDFA;
  border-bottom: 2px solid #FFFDFA;
  background-color: #E9C9AE;
  position: sticky;
  padding: 15px 15px;
  overflow: auto;
  white-space: nowrap;
}

.nav-logo{
  margin: 0 auto;
  padding: 1rem;
  text-align:center;
  font-family: 'Square Peg', cursive;
  color: #908660;
  font-size: 3.25rem;
  
}

.nav-list{
  display:flex;
  padding-top: 5px;
}

.nav-item{
  
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  list-style-type:none;
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: #FFFDFA;
  
}

a:hover {
  color: #4d4b30;
}


/*nav end*/



/* footer start*/

.footer{
  min-width:100%;
  max-width: 100%;
  height: 70px;
  border-top: 2px solid #FFFDFA;
  display:flex;
  flex-direction: row;
  justify-content: center; 
  position:fixed;
  text-align: center;
  bottom:0px;
  z-index: 5;
  background-color: #E9C9AE;
  padding: 1rem 2rem;
  color: #4D4B30;
}

#footer-info {
  display:flex;
  flex-direction:row;
  justify-content: center;
  position:fixed;
  align-items:center;
  z-index: 6;

}


.airbnb-logo {
  position: relative;
  padding: 0;
  margin-left: 1rem;
  height: 50px;
  width: 40px;
}

#copyright {
  font-size: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #908660;
}
/*footer end*/

/* Media Queries */

@media screen and (min-width: 45em) {
  .nav-list{
    justify-content:space-evenly;
  }
  #footer-info {
    width: 100%;
  }

  #copyright {
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 0.9rem;
  }

}




