/* general styling start */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #D3CDAE40;
}
a{
  text-decoration: none;
}

/* general styling end */

/*nav start*/
nav{
  background-color: #E9C9AE;
  padding: 15px 0;
  overflow: auto;
  white-space: nowrap
}

.nav-logo{
  align-self: center;
}

.nav-list{
  display:flex;
  
}

.nav-item{
  list-style-type:none;
  padding-left: 40px;
}


/*nav end*/

/* footer start*/

footer{
  background-color: #E9C9AE;
  display: flex;
  padding: 1rem 1rem;
}

footer>h2{
  align-self: center;
}

.airbnb-logo {
  height: 70px;
  width: 100px;
}

/*footer end*/

/* Fonts - font-family: 'Roboto Condensed', sans-serif;
font-family: 'Square Peg', cursive;*/

/* Accommodation/EatingOut Cards Start */

#cardHeadings {
  color: #4d4b30;
  font-size: 2.25rem;
  font-family:'Square Peg', cursive;
}

#cards {
  background-color: #9b937452;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;      
  /* Remove margin for final piece */
  padding: 1.5rem;

}
#card {
  background-color: #FFFDFA;
  width: 300px;
  height: 500px;
  
}

#cardImgBox {
  height:300px;
  object-fit: cover;
}

#cardImg {
  height: 300px;
  object-fit: cover;
}

.info {
  font-size: 0.95rem;
  padding: 0rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #908660;
  line-height: 1.6;
}

/* Accomodation/EatingOut Cards End */

/* Days out Cards Start */

#dayCard {
  background-color: #FFFDFA;
  width: 250px;
  height: 500px;
  
}

#dayCardImgBox {
  height:270px;
}

#dayCardImg {
  height: 270px;
  object-fit: cover;
}

/* Days out Cards End */
